div.wrong-answer, div.right-answer, div.no-answer
    +flex(row)
    opacity: 1
    img 
        width: 80px
        height: 80px
        margin: 3px 10px
    &:hover
        color: yellowgreen
        cursor: pointer
        img 
            opacity: 0.5

    p 
        font-size: 1rem
    p.not-blure 
        color: white
    p.blured
        color: red

div.right-answer
    p 
        color: green !important

div.wrong-answer
    opacity: 0.5
    p 
        color: red !important