.game 
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: top

.game-header
	background-color: #4720093b
	display: flex
	justify-content: space-around
	align-items: center
	padding: 5px