._label 
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    margin: 5px
    min-width: 350px
    
    &:hover
        color: yellowgreen
        cursor: pointer
        img 
            opacity: 0.5

    img 
        width: 120px
        height: 120px
        border: 1px solid white
        margin: 0 10px

    p 
        font-size: 1.2rem
    p.not-blure 
        color: white
    p.blured
        color: red
